/*
Comentario de ejemplo
*/

/*
Reglas de codificación en CSS
1. Todos los atributos en orden alfabético
2. Orden de estilos:
	*.pre-render
	1.etiquetas
	2.IDs
	3.Classes
3. Orden alfabético todos los estilos
4. Identar y hacer código lindo	
*/
a {
	color: orange;
}
body {
	background: #efefef;
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 16px;
	margin: 0;
}
footer {
	background: #434343;
	color: #a7a7a7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
footer p {
	margin: 0;
}
header {
	background: #434343;
	color: white;
	margin: 0;
	padding: 0.5em;
}
header figure, header h1 {
	display: inline-block;
	vertical-align: top;
}
header h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 1rem 0 0 1rem;
	width: 60%;
}
header #avatar {
	float: right;
	margin: 1em 1em 0 0;
}
header #avatar figcaption {
	background: #22BCE0;
	float: right;
	height: 50px;
	padding: 0  2px;
}
header #avatar figcaption:after {

}
header #avatar img {
	float: left;
	width: 50px;
}
header #logo img {
	width: 80px;
}
nav {
	background: #878787;
	font-size: 0.9em;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
nav ul li a {
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em 0;
}
nav #flechita_nav a{
	background: #22BCE0;
	padding: 0.5em;
	text-decoration: none;
}
nav #flechita_nav a:after {

}
nav #publicar_nav{
	float: right;
	margin-right: 0;
}
nav #publicar_nav a{
	background: orange;	
	padding: 0.5em 1em;
	text-decoration: none;
}
#bienvenida {
	display: none;
}
#contenido{
	margin: 1em;
}
#contenido .item {
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 123px;
	position: relative;
}
#contenido .item p {
	color: #7a7a7a;
	font-size: 0.9em;
}
#contenido .item .datos_item {
	text-align: right;
}
#contenido .item .datos_item .comentarios_item {
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	text-decoration: none;
}
#contenido .item .datos_item .guardar_item {
	margin: 0 1em;
	text-decoration: none;
}
#contenido .item .datos_item .tag_item{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido .item .imagen_item {
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img {
	width: 92px;
}
#contenido .item .titulo_item {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	padding: 0.5em 0.5em 0;
}
#contenido .item .titulo_item a {
	color: #444;
	text-decoration: none;
	
}
#contenido .item .votacion a {
	text-decoration: none;
}
#contenido .item .votacion {
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin: 3px 0 0 0;
	padding: 0.5em 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 92px;
}













